block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | FB Coach Battle
  body
    block layout-content
    header.header.bgcolorcharcoal
      .div.flexbox
        .div.colordkorange
          h1 FB Coach Battle
        .div.headermenu.colorwhite
          a(href='/') Home 
          a(href='/play') Play 
          a(href='/howto') How To
        